#clothesfooter_div{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    background-color: brown;
    color: white;
    margin-bottom: 20px;

}
#clothesfooter_div>div{
    padding: 10px;
}